Name: Sahil Parmar

Task 3: EDA (Exploratory Data Analysis) 1

Find weak areas, and work on it to get more profit

In [1]:
#Import necessary libraries

import pandas as pd
import numpy as np

In [2]:
#About Data

df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/SampleSuperstore.csv")
df.head()

        Ship Mode    Segment        Country  ... Quantity Discount    Profit
0    Second Class   Consumer  United States  ...        2     0.00   41.9136
1    Second Class   Consumer  United States  ...        3     0.00  219.5820
2    Second Class  Corporate  United States  ...        2     0.00    6.8714
3  Standard Class   Consumer  United States  ...        5     0.45 -383.0310
4  Standard Class   Consumer  United States  ...        2     0.20    2.5164

[5 rows x 13 columns]

In [3]:
#Shape of Data

df.shape

(9994, 13)

In [4]:
#Columns present in dataset

df.columns

Index(['Ship Mode', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Category', 'Sub-Category', 'Sales', 'Quantity', 'Discount',
       'Profit'],
      dtype='object')

In [6]:
#Now which fator can affect sales by mean values

df.groupby(["Segment"])["Profit"].mean()

Segment
Consumer       25.836873
Corporate      30.456667
Home Office    33.818664
Name: Profit, dtype: float64

In [7]:
df.groupby(["Ship Mode"])["Profit"].mean()

Ship Mode
First Class       31.839948
Same Day          29.266591
Second Class      29.535545
Standard Class    27.494770
Name: Profit, dtype: float64

In [8]:
df.groupby(["Postal Code"])["Profit"].mean()

Postal Code
1040     60.392000
1453     13.250267
1752     33.803400
1810     31.047150
1841     56.042530
           ...
98502    27.925380
98632    12.966100
98661    15.090920
99207    24.603729
99301    59.587400
Name: Profit, Length: 631, dtype: float64

In [10]:
df.groupby(["Region"])["Profit"].mean()

Region
Central    17.092709
East       32.135808
South      28.857673
West       33.849032
Name: Profit, dtype: float64

In [11]:
df.groupby(["City"])["Profit"].mean()

City
Aberdeen         6.630000
Abilene         -3.758400
Akron           -8.887410
Albuquerque     45.292007
Alexandria      19.913644
                  ...
Woonsocket      19.669775
Yonkers        184.517047
York           -20.433840
Yucaipa         13.208000
Yuma          -116.497725
Name: Profit, Length: 531, dtype: float64

In [12]:
df.groupby(["State"])["Profit"].mean()

State
Alabama                  94.865989
Arizona                 -15.303235
Arkansas                 66.811452
California               38.171608
Colorado                -35.867351
Connecticut              42.823071
Delaware                103.930988
District of Columbia    105.958930
Florida                  -8.875461
Georgia                  88.315453
Idaho                    39.367767
Illinois                -25.625787
Indiana                 123.375411
Iowa                     39.460397
Kansas                   34.851813
Kentucky                 80.573357
Louisiana                52.288150
Maine                    56.810775
Maryland                 66.963608
Massachusetts            50.262975
Michigan                 95.934069
Minnesota               121.608847
Mississippi              59.867475
Missouri                 97.518341
Montana                 122.221900
Nebraska                 53.607742
Nevada                   85.045279
New Hampshire            63.203807
New Jersey               75.176260
New Mexico               31.273408
New York                 65.637011
North Carolina          -30.083985
North Dakota             32.878529
Ohio                    -36.186304
Oklahoma                 73.544788
Oregon                   -9.600569
Pennsylvania            -26.507598
Rhode Island            130.100523
South Carolina           42.120395
South Dakota             32.902358
Tennessee               -29.189583
Texas                   -26.121174
Utah                     48.047802
Vermont                 204.088936
Virginia                 83.026564
Washington               66.013146
West Virginia            46.480400
Wisconsin                76.380004
Wyoming                 100.196000
Name: Profit, dtype: float64

In [14]:
df.groupby(["Discount"])["Profit"].mean()

Discount
0.00     66.900292
0.10     96.055074
0.15     27.288298
0.20     24.702572
0.30    -45.679636
0.32    -88.560656
0.40   -111.927429
0.45   -226.646464
0.50   -310.703456
0.60    -43.077212
0.70    -95.874060
0.80   -101.796797
Name: Profit, dtype: float64

In [16]:
df.groupby(["Category"])["Profit"].mean()

Category
Furniture           8.699327
Office Supplies    20.327050
Technology         78.752002
Name: Profit, dtype: float64

In [17]:
df.groupby(["Sub-Category"])["Profit"].mean()

Sub-Category
Accessories     54.111788
Appliances      38.922758
Art              8.200737
Binders         19.843574
Bookcases      -15.230509
Chairs          43.095894
Copiers        817.909190
Envelopes       27.418019
Fasteners        4.375660
Furnishings     13.645918
Labels          15.236962
Machines        29.432669
Paper           24.856620
Phones          50.073938
Storage         25.152277
Supplies        -6.258418
Tables         -55.565771
Name: Profit, dtype: float64

In [18]:
df.groupby(["Sales"])["Profit"].mean()

Sales
0.444          -1.1100
0.556          -0.9452
0.836          -1.3376
0.852          -0.5964
0.876          -1.4016
               ...
10499.970    5039.9856
11199.968    3919.9888
13999.960    6719.9808
17499.950    8399.9760
22638.480   -1811.0784
Name: Profit, Length: 5825, dtype: float64

In [19]:
df.groupby(["Quantity"])["Profit"].mean()

Quantity
1       8.276396
2      16.006831
3      23.667715
4      37.131310
5      40.257394
6      18.051517
7      56.579163
8      42.244342
9      68.557716
10     35.862404
11    126.275503
12     51.524609
13    235.144481
14     93.931166
Name: Profit, dtype: float64

**Conclusion:** As we can see from above analysis, Sales is mostly depends on region, city, postal code, category and sub category things bought by people. Discount is also affects the sales and profit.